.card-style {
    width: 100px;
    height: 140px;
    cursor: pointer;
}

.image-style {
    width: 100px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .card-style {
        width: 200px;
        height: 240px;
    }
    
    .image-style {
        width: 200px;
        height: 220px;
        object-fit: cover;
    }
}

@media (min-width: 1280px) {
    .card-style {
        width: 220px;
        height: 260px;
    }
    
    .image-style {
        width: 220px;
        height: 240px;
        object-fit: cover;
    }
}

@media (min-width: 1500px) {
    .card-style {
        width: 260px;
        height: 280px;
    }
    
    .image-style {
        width: 260px;
        height: 260px;
        object-fit: cover;
    }
}